# For more information on GitHub Actions, refer to https://github.com/features/actions
# For a complete CI/CD sample to get started with GitHub Action workflows for Desktop Applications,
# refer to https://github.com/microsoft/github-actions-for-desktop-apps

name: CI 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    strategy:
      matrix:
        configuration: [Release]
    runs-on: windows-latest  

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Install .NET 10.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore
          --verbosity minimal        

    - name: Build the solution
      run: dotnet build
          --configuration ${{ matrix.configuration }} 
          --no-restore
          --verbosity minimal

    - name: Execute unit tests with Code Coverage
      run: dotnet test --no-restore --no-build -c ${{ matrix.configuration }}  -- --config-file ${{ github.workspace }}/testconfig.json --report-trx --coverage
          
    - name: Generate code coverage report
      uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
      with:
        reports: '**/*.cobertura.xml' 
        targetdir: 'coveragereport'
        reporttypes: 'Cobertura;MarkdownAssembliesSummary' #MarkdownSummaryGithub;MarkdownSummary;MarkdownAssembliesSummary;MarkdownDeltaSummary
        sourcedirs: '' # Optional directories which contain the corresponding source code (separated by semicolon). The source directories are used if coverage report contains classes without path information.'

    - name: Upload coverage report artifact
      uses: actions/upload-artifact@v4
      with:
        name: CoverageReport # Artifact name        
        path: coveragereport # Directory containing files to upload

    - name: Publish coverage in build summary 
      run: cat coveragereport/Summary.md >> $GITHUB_STEP_SUMMARY
      shell: bash
